@model IEnumerable<QuanLyNhanSu.Models.Luong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NVClient/Views/Shared/_LayoutNVClient.cshtml";
}

<h2>Lương Nhân Viên</h2>

<div class="searchString">
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-group d-flex">
                <label style="color:blue" class="control-label">Tìm Kiếm:</label>
                <input class="form-control" name="searchString" placeholder="Nhập Tên Nhân Vên" />
            </div>
            <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>Mã Nhân Viên</th>
        <th>
            @Html.DisplayNameFor(model => model.NhanViens.NameNhanVien)
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuongNgay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TamUng)
        </th>
        <th>
            Tổng Lương
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        double total = Convert.ToDouble(item.NgayCong * item.LuongNgay - item.TamUng);
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.NhanViens.IDNhanVien)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NhanViens.NameNhanVien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NhanViens.NgaySinhNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NhanViens.SDTNhanVienName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Thang)
    </td>
    <td>

        @string.Format("{0:#,##0}", item.LuongNgay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayCong)
    </td>
    <td>

        @string.Format("{0:#,##0}", item.TamUng)
    </td>
    <td>
        @string.Format("{0:#,##0}", @total)
    </td>
    <td>
    </td>
</tr>
    }

</table>
