@model IEnumerable<QuanLyNhanSu.Models.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2 style="text-align:center">Phân Quyền Tài Khoản</h2>

<p>
    @Html.ActionLink("Thêm Mới Nhóm Đối Tượng", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
             Hỗ Trợ
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoleID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
        @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.RoleID }) |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.RoleID }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.RoleID })
    </td>
</tr>
}

</table>
