@model IEnumerable<QuanLyNhanSu.Models.NVQuanLy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Nhân Viên Quản Lý</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChucVus.TenChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBans.TenPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameNhanVien)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SDTNhanVienName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinhNhanVien)
        </th>

        <th>
           Ảnh Chân Dung
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ChucVus.TenChucVu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhongBans.TenPhongBan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameNhanVien)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SDTNhanVienName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioiTinhNhanVien)
    </td>


    <td>
        <img src="@item.NhanVienImgName" width="150px" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Note)
    </td>
    <td>
        @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.IDNhanVien }) |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.IDNhanVien }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.IDNhanVien })
    </td>
</tr>
}

</table>
