@model QuanLyNhanSu.Models.Luong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}



<h3>Bạn Chắc Chắn Muốn Xóa Cập Nhật Lương Của Nhân Viên Trên Chứ?</h3>
<div>
    <h4>Chi Tiết Lương</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanViens.NameNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanViens.NameNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCong)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Lại", "Index")
        </div>
    }
</div>
