@model IEnumerable<QuanLyNhanSu.Models.NhanVienThucTap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Danh Sách Nhân Viên Thực Tập</h2>

<div>
    <a href="~/Admins/NhanVienThucTaps/Create" class="btn-danger btn">Thêm Mới</a>
</div>
<br />
<div class="searchString">
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-group d-flex">
                <label style="color:blue" class="control-label">Tìm Kiếm:</label>
                <input class="form-control" name="searchString" placeholder="Nhập Tên Nhân Vên" />
            </div>
            <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
        </p>
    }
</div>
<table class="table">
    <tr class="label-NVTT">
        <th>
            @Html.DisplayNameFor(model => model.ChucVus.TenChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBans.TenPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameNhanVien)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SDTNhanVienName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinhNhanVien)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.NgayVao)
        </th>
        <th>
            Thời Gian Thực Tập
        </th>
        <th>
            Hỗ Trợ
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVus.TenChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongBans.TenPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameNhanVien)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SDTNhanVienName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinhNhanVien)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.NgayVao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianThucTap)
        </td>
        <td>
            <a href="~/Admins/NhanVienThucTaps/Edit/@item.IDNhanVien" class="btn-success btn">Sửa</a> |
            <a href="~/Admins/NhanVienThucTaps/Details/@item.IDNhanVien" class="btn-primary btn">Chi Tiết</a> |
            <a href="~/Admins/NhanVienThucTaps/Delete/@item.IDNhanVien" class="btn-danger btn">Xóa</a>
        </td>
    </tr>
}

</table>
<style>
    .label-NVTT {
        background-color: rgb(50 112 181);
        color: white;
        font-weight: 600;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
