@model IEnumerable<QuanLyNhanSu.Models.PhongBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Danh Sách Phòng Ban</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SdtPhongBan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SdtPhongBan)
        </td>
        <td>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=item.MaPhongBan }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.MaPhongBan }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaPhongBan })
        </td>
    </tr>
}

</table>
