@model IEnumerable<QuanLyNhanSu.Models.PhongBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2 style="text-align:center">Danh Sách Phòng Ban</h2>

<p>
    <a href="/PhongBans/Create" class="btn-danger btn"> Thêm Mới </a>
</p>
<table class="table">
    <tr class="label-PB">
        <th>
            @Html.DisplayNameFor(model => model.TenPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SdtPhongBan)
        </th>
        <th>
            Hỗ Trợ
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SdtPhongBan)
        </td>
        <td>
            <a href="/PhongBans/Edit/@item.MaPhongBan" class="btn-success btn">Sửa</a> |
            <a href="/PhongBans/Details/@item.MaPhongBan" class="btn-primary btn">Chi tiết</a> |
            <a href="/PhongBans/Delete/@item.MaPhongBan" class="btn-danger btn">Xóa</a>
        </td>
    </tr>
}

</table>

<style>
    .label-PB {
        background-color: rgb(50 112 181);
        color: white;
        font-weight: 600;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>