@model IEnumerable<QuanLyNhanSu.Models.NVQuanLy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Nhân Viên Quản Lý</h2>

<p>
    <a href="/NVQuanLies/Create" class="btn-danger btn">Thêm Mới</a>
</p>
<div class="searchString">
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-group d-flex">
                <label style="color:blue" class="control-label">Tìm Kiếm:</label>
                <input class="form-control" name="searchString" placeholder="Nhập Tên Nhân Vên" />
            </div>
            <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
        </p>
    }
</div>
<table class="table">
    <tr class="label-NVQL">
        <th>
            @Html.DisplayNameFor(model => model.ChucVus.TenChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBans.TenPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameNhanVien)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SDTNhanVienName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinhNhanVien)
        </th>

        <th>
           Ảnh Chân Dung
        </th>
        <th>
           Ghi Chú
        </th>
        <th>
            Hỗ Trợ
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ChucVus.TenChucVu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhongBans.TenPhongBan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameNhanVien)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SDTNhanVienName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioiTinhNhanVien)
    </td>


    <td>
        <img style=" width: 152px; height: 150px; object-fit: cover;" src="@item.NhanVienImgName" width="150px" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Note)
    </td>
    <td>
        <a href="/NVQuanLies/Edit/@item.IDNhanVien" class="btn-success btn">Sửa</a> |
        <a href="/NVQuanLies/Details/@item.IDNhanVien" class="btn-primary btn">Chi tiết</a> |
        <a href="/NVQuanLies/Delete/@item.IDNhanVien" class="btn-danger btn">Xóa</a>
    </td>
</tr>
}

</table>
<style>
    .label-NVQL {
        background-color: rgb(50 112 181);
        color: white;
        font-weight: 600;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>