<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Công Ty TNHH Nhân Lâm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CustomCss.css" rel="stylesheet" />
</head>
<body>
    <div class="tieu-de">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div  class="collapse nav-list-item">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index" class="nav-link">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="/TuyenDung/Index" class="nav-link">Thông tin tuyển dụng</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Accounts/Login" class="nav-link">Đăng Nhập</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:blueviolet;"> &copy; @DateTime.Now.Year - Công ty TNHH Nhân Lâm</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>