@model QuanLyNhanSu.Models.Account

@{
    ViewBag.Title = "Change_password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change_password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="text" name="UseName" hidden value="@Model.UseName" />
        <input type="text" name="RoleID" hidden value="@Model.RoleID" />        
        <label>Mật khẩu mới</label>
        <input type="text" name="PassWord" id="PassWord" value="" />        
        <input type="submit" value="Lưu" class="text-white btn btn-round btn-danger text-white handle-btn" />        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>
