@model IEnumerable<QuanLyNhanSu.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NVClient/Views/Shared/_LayoutNVClient.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChucVus.TenChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBans.TenPhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinhNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTNhanVienName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinhNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCDNhanVien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVus.TenChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongBans.TenPhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinhNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTNhanVienName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinhNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCCDNhanVien)
        </td>
        <td>
          
            @Html.ActionLink("Details", "Details", new { id=item.IDNhanVien })
            
        </td>
    </tr>
}

</table>
